.youtube-button {
    background-color: rgb(155, 0, 0);
    color: white;
    height: 55px;
    width: 140px;
    border-radius: 10px;
    border: solid; 
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.30s,
    color 0.30s,
    box-shadow 0.30s;
    display: inline-block;
     
}
.youtube-button:hover {
background-color: white;
color: rgb(155, 0, 0);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        
}

.youtube-button:active {
background-color: rgb(155, 0, 0) ;

}

.contact {
background-color: rgb(38, 139, 197);
color: white;
height: 55px;
width: 140px;
border-radius: 10px;
border: solid;
font-weight: bold;
font-family: Arial;
font-size: 15px;
cursor: pointer;
transition: background-color 0.30s,
color 0.30s,
box-shadow 0.30s;
vertical-align: top;

}

.contact:hover {
background-color: white;
color: rgb(38, 139, 197);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.text { 
    font-size: 55px;
    font-family: Josefin Sans;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 25px;
    }

    .YouTube-link {
        display: inline-block;
    }

    .Contact-link {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    
    }

    .body {
        background-color: rgb(93, 235, 216);
        background-image: url(../Pictures/webb.png);
        
        
        
    }

    .info {
        text-align: center;
        font-family: Ubuntu;
        font-size: 21px;
        display: block;
        line-height: 30px;
    }

    .text-1  {
        font-family: Raleway;
        font-weight: bold;
        font-size: 55px;
        text-align: center;

    }

    .text-2 {
        font-family: Ubuntu;
        font-size: 31px;
        
    }

    .text-3 {
        font-family: Ubuntu;
        font-size: 31px;
    }

    stan {
        font-weight: bold;
    }
    
    .contact-1 {
        background-color: aquamarine;
        background-image: url(../Pictures/webb2.png);
    }
    
    .img-1 {
        width: 600px;
        border-radius: 11px;
        border: solid;
        margin-left: 25%;
        
        
    }

    
    .grid {
        display: grid;
        grid-template-columns: 140px 140px 140px;
    }

    .info-1 {
        font-family: Ubuntu;
    }
    
    .info-2 {
        font-family: Ubuntu;
    } 
    
    .info-3 {
        font-family: Ubuntu;
    }
    
    .table-1 {
        width: 45%;
        margin-left: 1%;
        display: inline-block; 
        

    }

    .para {
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
    }

    .grade {
        background-color: rgb(53, 53, 53);
        text-align: center;
        height: 50px;
        width: 140px;
        border-radius: 10px;
        border-color: transparent;
        margin-top: 2%;
        cursor: pointer;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        color: white;
        display: inline-block;
        margin-left: 15px;
        transition: background-color 0.30s,
        color 0.30s,
        border-color 0.30s,
        box-shadow 0.30s
        ;
    }
    .grade:hover {
        background-color: white;
        color:rgb(53, 53, 53);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        border-color: rgb(53, 53, 53);
        border: solid;
        
        
    }
    
    .title-1 {
        font-family: Ubuntu;
        font-weight: bold;
        text-align: center;
        font-size: 200%;
        
    }

    .grade-body {
        background-color: white;
        background-image: url(../Pictures/hex.png);
    }

    .marksheet {
        margin-left: 14%;
        margin-top: 5%;
    }

    table,th,td {
        border: 1px solid;
        border-color: black;
        
        
    }

    .footer {
        font-family: Rubik;
        font-weight: bold;  
        margin-top: 20%; 
        background-color: black;
        color: white;
        
        
        
    }

    .footer-para {
        margin-left: 57%;
        display: inline-block;
    }

    .footer-para-2 {
        display: inline-block
    }
    
    .mark {
        margin-left: 14%;
        margin-top: 10%;
    }
   
    .infograde {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 14%;
        margin-top: 5%;

    }


    .button {
        margin-top: 1%;
        border-color: rgb(128, 128, 128);
        cursor: pointer;
    }

    
    .formdiv {
        display: inline-block;
        margin-left: 30%;
    }

    .submit {
        background-color: rgb(80, 80, 80);
        color: white;
        height: 50px;
        width: 130px;
        border-radius: 10px;
        border: solid; 
        font-weight: bold;
        font-family: Arial;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 0.30s,
        color 0.30s,
        box-shadow 0.30s;
        display: inline-block;
         
    }
    .submit:hover {
    background-color: white;
    color: rgb(80, 80, 80);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
            
    }
    
    .submit:active {
    background-color: rgb(80, 80, 80) ;
    
    }

    .name {
        width: 70%;
        
    }

    .email {
        width: 70%;
        
    }
    .number {
        width: 70%;
        
    }


    
